{% extends "base.html" %}
{% block content %}
<div>
    <ul class="post-item__actions">
        <li class="post-item__actions__item"><a href="/admin/drafts">Drafts</a></li>
    </ul>
</div>
{% for post in posts %}
<div class="post-item">
    <div><strong>{{ post.title }}</strong></div>
    <ul class="post-item__actions">
        <li class="post-item__actions__item"><a href="{{ post.self_link }}">View</a></li>
        <li class="post-item__actions__item"><a href="{{ post.edit_link }}">Edit</a></li>
        <li class="post-item__actions__item">{{ post.publication_date }}</li>
    </ul>
</div>
{% endfor %}
{% endblock content %}