{% extends "base.html" %}
{% block content %}
<p>
    I'm Thomas Bracher, better known as sadraskol (all lower case) on the internet.
    I'm working with software of various size, trying to make them better.
</p>
<ul>
    <li><a href="https://twitter.com/sadraskol">Twitter</a></li>
    <li><a href="https://www.linkedin.com/in/thomas-bracher-59ab5360/">Linkedin</a></li>
    <li><a href="https://github.com/sadraskol">Github</a></li>
    <li><a href="https://mastodon.social/@sadraskol">Mastodon</a></li>
    <li><a href="https://keybase.io/sadraskol">Keybase</a></li>
</ul>
{% endblock content %}