{% extends "base.html" %}
{% block content %}
<p>
    I'm a software engineer working on distributed systems.
    I apply evidence based techniques such as automated testing, formal specification, simulations, etc.
    They successfully maintain and scale systems with confidence.
    <br />
    This blog helps me organize my thoughts and research.
    I hope you find some useful information in it as well!
    <br />
    Feel free to contact me on the following networks.
    I'll make my best to answer you!
</p>
<h3>Link tree</h3>
<ul>
    <li><a href="https://twitter.com/sadraskol">Twitter</a></li>
    <li><a href="https://www.linkedin.com/in/thomas-bracher-59ab5360/">Linkedin</a></li>
    <li><a href="https://github.com/sadraskol">Github</a></li>
    <li><a href="https://mastodon.social/@sadraskol">Mastodon</a></li>
    <li><a href="https://keybase.io/sadraskol">Keybase</a></li>
</ul>
{% endblock content %}